<div class="flex flex-col w-full">
    <!-- Again Button -->
    <app-row-button layout="double" (buttonClick)="selectRating('again')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-1" class="mr-2"></app-icon>
        <span i18n>Again</span>
      </div>
      <span right i18n>&lt; 10 min</span>
    </app-row-button>
    
    <app-row-button layout="double" (buttonClick)="selectRating('hard')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-2" class="mr-2"></app-icon>
        <span i18n>Hard</span>
      </div>
      <span right i18n>2 days</span>
    </app-row-button>
    
    <!-- Good Button -->
    <app-row-button layout="double" (buttonClick)="selectRating('good')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-3" class="mr-2"></app-icon>
        <span i18n>Good</span>
      </div>
      <span right i18n>4 months</span>
    </app-row-button>
    
    <!-- Easy Button -->
    <app-row-button layout="double" (buttonClick)="selectRating('easy')">
      <div left class="flex items-center">
        <app-icon icon="key-4" class="mr-2"></app-icon>
        <span i18n>Easy</span>
      </div>
      <span right i18n>6 months</span>
    </app-row-button>
</div>