<div class="flex flex-col w-full">
    <!-- Again Button -->
    <app-row-button (buttonClick)="selectRating('again')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-1" class="mr-2"></app-icon>
        <span>Again</span>
      </div>
      <span right>&lt; 10 min</span>
    </app-row-button>
    
    <app-row-button (buttonClick)="selectRating('hard')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-2" class="mr-2"></app-icon>
        <span>Hard</span>
      </div>
      <span right>2 days</span>
    </app-row-button>
    
    <!-- Good Button -->
    <app-row-button (buttonClick)="selectRating('good')" class="mb-2">
      <div left class="flex items-center">
        <app-icon icon="key-3" class="mr-2"></app-icon>
        <span>Good</span>
      </div>
      <span right>4 months</span>
    </app-row-button>
    
    <!-- Easy Button -->
    <app-row-button (buttonClick)="selectRating('easy')">
      <div left class="flex items-center">
        <app-icon icon="key-4" class="mr-2"></app-icon>
        <span>Easy</span>
      </div>
      <span right>6 months</span>
    </app-row-button>
</div>