<div class="w-full max-w-xl">
  @if (input.feedback) {
    @for(feedbackValue of feedbackValues; track feedbackValue) {
      <div class="flex items-center space-x-2 w-full mb-2">
        @if (feedbackValue!.state === 'success') {
          <app-icon icon="mark-correct"></app-icon>
        }
        @if (feedbackValue!.state === 'failure') {
          <app-icon icon="mark-incorrect"></app-icon>
        }
        <span class="text-gray-800">{{ feedbackValue.value }}</span>
      </div>
    }
    @if (hasIncorrectFeedback()) {
      <div class="mt-4">
        <button
          (click)="handleUserCorrection()"
          class="py-2 italic bg-transparent border-0">
          <app-icon icon="mdi-redo-variant"></app-icon>
          I was right...
        </button>
      </div>
    }
  }

  @if (input.feedback == undefined || input.feedback.isRetypeAnswerEnabled) {
    <app-text-field [rows]="3" [(ngModel)]="input.text"></app-text-field>
  }
</div>