<div class="w-full max-w-xl">
  <ng-container *ngIf="input.feedback">
    @for(feedbackValue of feedbackValues; track feedbackValue) {
    <div class="flex items-center space-x-2 w-full mb-2">
      <app-icon *ngIf="feedbackValue!.state === 'success'" icon="mark-correct"></app-icon>
      <app-icon *ngIf="feedbackValue!.state === 'failure'" icon="mark-incorrect"></app-icon>
      <span class="text-gray-800">{{ feedbackValue.value }}</span>
    </div>
    }
  </ng-container>

  <ng-container *ngIf="input.feedback == undefined || input.feedback.isRetypeAnswerEnabled">
    <app-text-field [rows]="3" [(ngModel)]="input.text"></app-text-field>
  </ng-container>
</div>