<div class="w-full flex justify-between">
    <app-button variant="secondary" i18n class="float-left" (click)="handleSkipExercise()" [disabled]="isBusy">Skip</app-button>

@if(showCheckAnswer) {
    <app-button variant="primary" i18n class="float-right" (click)="handleCheckAnswer()" [disabled]="isBusy">Check Answer</app-button>
}
@else {
    <app-button variant="primary" class="float-right" (click)="handleNextExercise()" [disabled]="isBusy">
        @if (isBusy) {
                <span i18n>Loading...</span>
            }
            @else {
                <span i18n>Next</span>
            }
        </app-button>
}
</div>