<div class="fixed bottom-16 max-w-lg mx-auto w-full">
    <div class="relative float-left max-w-lg mx-auto w-full">
        <app-button variant="secondary" label="Skip" class="float-left" (click)="handleSkipExercise()"></app-button>

    @if(showCheckAnswer) {
        <app-button variant="primary" label="Check Answer" class="float-right" (click)="handleCheckAnswer()"></app-button>
    }
    @else {
        <app-button variant="primary" label="Next" class="float-right" (click)="handleNextExercise()"></app-button>
    }
    </div>
</div>