<app-instruction  
    title="Can you pronounce this?"
    instruction='Click the button and do your best attempt'></app-instruction>

<app-flashcard-review *ngIf="content" class="block mb-4" [flippable]="false">
    <ng-container left>
        <span>{{content!.front?.text}}</span>
    </ng-container>

    <ng-container right>
        <span>{{content!.back?.text}}</span>
    </ng-container>
</app-flashcard-review>

<app-correctable-audio-field 
    *ngIf="input" 
    [input]="input"></app-correctable-audio-field>