<div class="p-6 border border-black rounded-lg bg-white" [ngClass]="{'space-x-4': layout === 'single'}" style="box-shadow: 3px 3px;">
  <!-- Single layout -->
  @if (layout === 'single') {
    <ng-content></ng-content>
  }

  <!-- Double layout -->
  @if (layout === 'double') {
    <div class="flex">
      <div class="flex-1 pr-3">
        <ng-content select="[left]"></ng-content>
      </div>
      <div class="flex-1 pl-3">
        <ng-content select="[right]"></ng-content>
      </div>
    </div>
  }
</div>