<div class="border border-dashed border-gray-400 p-6 rounded-lg text-center w-96" (dragover)="allowDrop($event)"
    (drop)="handleDrop($event)">
    <div class="flex justify-center">
        <span class="flex items-center">
            <i class="mdi mdi-cloud-arrow-up text-5xl text-gray-500 mr-2"></i>
            Audio input
        </span>
    </div>
    <div class="flex justify-center mt-4 space-x-4">
        <button (click)="isRecording ? stopRecording() : startRecording()"
            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
            {{ isRecording ? 'Stop' : 'Record' }}
        </button>
        <label *ngIf="!audioData" class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600">
            Upload
            <input type="file" accept="audio/*" class="hidden" (change)="handleFileInput($event)" />
        </label>
        <button *ngIf="audioData" class="px-4 py-2 bg-blue cursor-pointer hover:bg-blue-600" (click)="playAudio()">Play</button>
        <button *ngIf="audioData" (click)="clearFileInput()" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
            Clear File
        </button>
    </div>
    <div *ngIf="audioFile" class="mt-4">
        <p>File uploaded: {{ audioFile.name }}</p>
    </div>
</div>