@if (input) {
  <div class="max-w-xl w-full mt-4 mb-2">
    <!-- Show Options Button (when initiallyHideOptions is true and options are not visible) -->
    @if (input.initiallyHideOptions) {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <app-row-button
          layout="single"
          class="md:col-span-2"
          [disabled]="optionsVisible"
          (click)="handleShowOptions()"
          i18n>
            Show options
        </app-row-button>
      </div>
    }
    <!-- Options Grid (shown when options are visible or initiallyHideOptions is false) -->
    @if (optionsVisible || !input.initiallyHideOptions) {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-2 gap-x-4">
        @for (option of input!.options; track option; let i = $index) {
          <app-row-button
            layout="single"
            [disabled]="!!(input.feedback && !input.feedback.isRetypeAnswerEnabled)"
            (click)="handleOptionSelected(option.id!)">
            @if (input?.feedback?.correctOptionIds?.includes(option.id!)) {
              <app-icon
                icon="mark-correct"
                class="mr-3">
              </app-icon>
            }
            @if (input?.feedback?.incorrectOptionIds?.includes(option.id!)) {
              <app-icon
                icon="mark-incorrect"
                class="mr-3">
              </app-icon>
            }
            @if (input?.feedback?.correctOptionIds?.includes(option.id!) !== true && input?.feedback?.incorrectOptionIds?.includes(option.id!) !== true) {
              <app-icon
                [icon]="'key-' + (i + 1)"
                class="mr-3">
              </app-icon>
            }
            @if (input.optionType == 'audio') {
              <div (click)="handleAudioPlay(option.id!)">
                <app-icon icon="mdi-volume-high" class="mr-2" tabindex="0"></app-icon>
                <svg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg" class="inline-block">
                  <path d="M0 10 Q 10 0, 20 10 T 40 10 T 60 10 T 80 10 T 100 10" stroke="black" fill="transparent" stroke-width="3" />
                </svg>
              </div>
            }
            @if (input.optionType == 'text') {
              <ng-content>{{castAsText(option).text}}</ng-content>
            }
            @if (input.optionType == 'image') {
              <ng-content>
                <img [src]="castAsImage(option).url" alt="Option Image" class="w-16 h-16 object-cover rounded-lg" />
              </ng-content>
            }
            @if (input.optionType == 'video') {
              <ng-content>
                <video [src]="castAsVideo(option).url" controls class="w-16 h-16 object-cover rounded-lg"></video>
              </ng-content>
            }
          </app-row-button>
        }
      </div>
    }
  </div>
}