<div *ngIf="currentFlashcard" class="flashcard-review-container">
    <div class="flex justify-center">
        <app-flashcard class="text-gray-500 text-sm">
            <ng-container front *ngIf="currentFlashcard.leftContentType === 'text'">
                <app-icon icon="mdi-volume-high" class="mr-2" tabindex="0" (click)="playAudio('left'); $event.stopPropagation()"></app-icon>
                <span class="mr-1">{{currentFlashcard.leftTextContent!.text }}</span>
            </ng-container>

            <ng-container front *ngIf="currentFlashcard.leftContentType === 'audio'">
                <app-audio-preview *ngIf="currentFlashcard.leftAudioContent; else noAudio" [data]="currentFlashcard.leftAudioContent"></app-audio-preview>
                <ng-template #noAudio>
                    <span>Sorry, no audio available...</span>
                </ng-template>
            </ng-container>

            <ng-container front *ngIf="currentFlashcard.leftContentType === 'image'">
                <app-image-preview *ngIf="currentFlashcard.leftImageContent; else noImage" [data]="currentFlashcard.leftImageContent"></app-image-preview>
                <ng-template #noImage>
                    <span>Sorry, no image available...</span>
                </ng-template>
            </ng-container>

            <ng-container front *ngIf="currentFlashcard.leftContentType === 'video'">
                <app-video-preview *ngIf="currentFlashcard.leftVideoContent; else noVideo" [data]="currentFlashcard.leftVideoContent"></app-video-preview>
                <ng-template #noVideo>
                    <span>Sorry, no video available...</span>
                </ng-template>
            </ng-container>

            <ng-container back *ngIf="currentFlashcard.rightContentType === 'text'">
                <app-icon icon="mdi-volume-high" class="mr-2" tabindex="0" (click)="playAudio('right'); $event.stopPropagation()"></app-icon>
                <span class="mr-1">{{currentFlashcard.rightTextContent!.text }}</span>
            </ng-container>

            <ng-container back *ngIf="currentFlashcard.rightContentType === 'audio'">
                <app-audio-preview *ngIf="currentFlashcard.rightAudioContent; else noAudio" [data]="currentFlashcard.rightAudioContent"></app-audio-preview>
                <ng-template #noAudio>
                    <span>Sorry, no audio available...</span>
                </ng-template>
            </ng-container>

            <ng-container back *ngIf="currentFlashcard.rightContentType === 'image'">
                <app-image-preview *ngIf="currentFlashcard.rightImageContent; else noImage" [data]="currentFlashcard.rightImageContent"></app-image-preview>
                <ng-template #noImage>
                    <span>Sorry, no image available...</span>
                </ng-template>
            </ng-container>

            <ng-container back *ngIf="currentFlashcard.rightContentType === 'video'">
                <app-video-preview *ngIf="currentFlashcard.rightVideoContent; else noVideo" [data]="currentFlashcard.rightVideoContent"></app-video-preview>
                <ng-template #noVideo>
                    <span>Sorry, no video available...</span>
               </ng-template>
            </ng-container>
        </app-flashcard>
    </div>

    <div class="flex justify-center mt-4">
        <app-button variant="round" (click)="previousFlashcard()" [disabled]="currentIndex === 0" class="mr-2">
            &#8592; <!-- Left arrow -->
        </app-button>
        <app-button variant="round" (click)="nextFlashcard()" [disabled]="currentIndex === flashcards.length - 1">
            &#8594; <!-- Right arrow -->
        </app-button>
    </div>
</div>