.flashcard-list.dragging {
    padding: 2px; 
    margin: -2px; 
    
    border: 1px dashed #ccc;
    border-radius: 4px;
}

.flashcard-list.dragging .flashcard-item-number {
    visibility: hidden;
}