<div *ngIf="flashcardDeck" class="flashcard-deck-edit-container">
  <div class="mb-8">
    <app-form-field>
      <app-label i18n>Name</app-label>
      <app-text-field [(ngModel)]="flashcardDeck!.name" class="deck-name-input mb-2"></app-text-field>
    </app-form-field>

    <app-form-field>
      <app-label i18n>Description</app-label>
      <app-text-field [(ngModel)]="flashcardDeck!.description" [rows]="3" class="deck-description-input"
        placeholder="Description (optional)"></app-text-field>
    </app-form-field>

    <!-- Global language selection -->
    <div class="mt-4 flex gap-4">
      <app-form-field class="w-1/2">
        <app-label i18n>Front language</app-label>
        <app-select class="global-left-language-input" 
          [(ngModel)]="frontLanguageId"
          (ngModelChange)="handleGlobalLeftLanguageChange($event)">
          <app-option value="">Select language</app-option>
          <app-option *ngFor="let language of flashcardLanguages" [value]="language.id">
            {{ language.name }}
          </app-option>
        </app-select>
      </app-form-field>
      
      <app-form-field class="w-1/2">
        <app-label i18n>Back language</app-label>
        <app-select class="global-right-language-input"
          [(ngModel)]="backLanguageId"
          (ngModelChange)="handleGlobalRightLanguageChange($event)">
          <app-option value="">Select language</app-option>
          <app-option *ngFor="let language of flashcardLanguages" [value]="language.id">
            {{ language.name }}
          </app-option>
        </app-select>
      </app-form-field>
    </div>
  </div>

  <div cdkDropList (cdkDropListDropped)="handleRearrangeFlashcard($event)" class="flashcard-list"
    [ngClass]="{'dragging': currentDragIndex !== undefined}">
    @for(flashcard of flashcardDeck!.flashcards; track flashcard; let i = $index) {
    <app-flashcard-edit *ngIf="flashcard.state !== 'deleted'" cdkDrag (cdkDragStarted)="handleDragStart(i)"
      (cdkDragEnded)="handleDragEnd()" class="flashcard-item block mb-4">
      <ng-container header>
        <div class="inline-block">
          <span class="flashcard-item-number font-bold mr-8">#{{flashcard.deckOrder}}</span>

          <div class="inline-block mr-4">
            <app-select class="left-content-type-input" [(ngModel)]="flashcard.leftContentType">
              <app-option value="text" i18n>Text</app-option>
              <app-option value="audio" i18n>Audio</app-option>
              <app-option value="image" i18n>Image</app-option>
              <app-option value="video" i18n>Video</app-option>
            </app-select>
          </div>
          
          <div class="inline-block">
            <app-select class="right-content-type-input" [(ngModel)]="flashcard.rightContentType">
              <app-option value="text" i18n>Text</app-option>
              <app-option value="audio" i18n>Audio</app-option>
              <app-option value="image" i18n>Image</app-option>
              <app-option value="video" i18n>Video</app-option>
            </app-select>
          </div>
        </div>

        <div class="inline-block float-right">
          <button class="btn btn-primary" (click)="handleDeleteFlashcard(flashcard)">Delete</button>
        </div>
      </ng-container>

      <ng-container *ngIf="flashcard.leftContentType === 'text'" left>
        <app-form-field>
          <app-text-input [(textData)]="flashcard.leftTextContent!" (rows)="1"></app-text-input>
          <div class="flex items-center justify-between w-full">
            <app-label i18n>Front</app-label>
            <span *ngIf="frontLanguageId">{{frontLanguageId}}</span>
          </div>
        </app-form-field>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'audio'" left>
        <app-audio-input [(audioData)]="flashcard.leftAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'image'" left>
        <app-image-input [(imageData)]="flashcard.leftImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'video'" left>
        <app-video-input [(videoData)]="flashcard.leftVideoContent"></app-video-input>
      </ng-container>

      <ng-container *ngIf="flashcard.rightContentType === 'text'" right>
        <app-form-field>
          <app-text-input [(textData)]="flashcard.rightTextContent!" (rows)="1"></app-text-input>
          <div class="flex items-center justify-between w-full">
            <app-label>Back</app-label>
            <span *ngIf="backLanguageId" class="text-right">{{backLanguageId}}</span>
          </div>
        </app-form-field>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'audio'" right>
        <app-audio-input [(audioData)]="flashcard.rightAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'image'" right>
        <app-image-input [(imageData)]="flashcard.rightImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'video'" right>
        <app-video-input [(videoData)]="flashcard.rightVideoContent"></app-video-input>
      </ng-container>

    </app-flashcard-edit>
    }
  </div>

  <div>
    <app-button variant="secondary" i18n (click)="handleAddFlashcard()">＋ Add flashcard</app-button>
    <app-button variant="primary" i18n (click)="handleSaveFlashcards()" class="float-right">Save changes</app-button>
  </div>
</div>