<div *ngIf="flashcardDeck" class="flashcard-deck-edit-container">
  <div class="mb-8">
    <app-form-field>
      <app-label>Name</app-label>
      <app-text-field [(ngModel)]="flashcardDeck!.name" class="deck-name-input mb-2"></app-text-field>
    </app-form-field>

    <app-form-field>
      <app-label>Description</app-label>
      <app-text-field [(ngModel)]="flashcardDeck!.description" [rows]="3" class="deck-description-input"
        placeholder="Description (optional)"></app-text-field>
    </app-form-field>
  </div>

  <div cdkDropList (cdkDropListDropped)="handleRearrangeFlashcard($event)" class="flashcard-list"
    [ngClass]="{'dragging': currentDragIndex !== undefined}">
    @for(flashcard of flashcardDeck!.flashcards; track flashcard; let i = $index) {
    <app-flashcard-edit *ngIf="flashcard.state !== 'deleted'" cdkDrag (cdkDragStarted)="handleDragStart(i)"
      (cdkDragEnded)="handleDragEnd()" class="flashcard-item block mb-4">
      <ng-container header>
        <div class="inline-block">
          <span class="flashcard-item-number font-bold mr-8">#{{flashcard.deckOrder}}</span>

          <div class="inline-block mr-4">
            <app-select class="left-content-type-input" [(ngModel)]="flashcard.leftContentType">
              <app-option value="text">Text</app-option>
              <app-option value="audio">Audio</app-option>
              <app-option value="image">Image</app-option>
              <app-option value="video">Video</app-option>
            </app-select>
          </div>
          
          <div class="inline-block">
            <app-select class="right-content-type-input" [(ngModel)]="flashcard.rightContentType">
              <app-option value="text">Text</app-option>
              <app-option value="audio">Audio</app-option>
              <app-option value="image">Image</app-option>
              <app-option value="video">Video</app-option>
            </app-select>
          </div>
        </div>

        <div class="inline-block float-right">
          <button class="btn btn-primary" (click)="handleDeleteFlashcard(flashcard)">Delete</button>
        </div>
      </ng-container>

      <ng-container *ngIf="flashcard.leftContentType === 'text'" left>
        <app-text-input [(textData)]="flashcard.leftTextContent!" (rows)="1"></app-text-input>

        <app-form-field class="mb-2">
          <app-label>Front language</app-label>
          <app-select [(ngModel)]="flashcard.leftTextContent!.languageId"
            (ngModelChange)="handleLeftLanguageChange(flashcard, $event)">
            <app-option value="">Select language</app-option>
            <app-option *ngFor="let language of flashcardLanguages" [value]="language.id">
              {{ language.name }}
            </app-option>
          </app-select>
        </app-form-field>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'audio'" left>
        <app-audio-input [(audioData)]="flashcard.leftAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'image'" left>
        <app-image-input [(imageData)]="flashcard.leftImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'video'" left>
        <app-video-input [(videoData)]="flashcard.leftVideoContent"></app-video-input>
      </ng-container>

      <ng-container *ngIf="flashcard.rightContentType === 'text'" right>
        <app-text-input [(textData)]="flashcard.rightTextContent!" (rows)="1"></app-text-input>

        <app-form-field class="mb-2">
          <app-label>Back language</app-label>
          <app-select [(ngModel)]="flashcard.rightTextContent!.languageId"
            (ngModelChange)="handleRightLanguageChange(flashcard, $event)">
            <app-option value="">Select language</app-option>
            <app-option *ngFor="let language of flashcardLanguages" [value]="language.id">
              {{ language.name }}
            </app-option>
          </app-select>
        </app-form-field>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'audio'" right>
        <app-audio-input [(audioData)]="flashcard.rightAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'image'" right>
        <app-image-input [(imageData)]="flashcard.rightImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'video'" right>
        <app-video-input [(videoData)]="flashcard.rightVideoContent"></app-video-input>
      </ng-container>

    </app-flashcard-edit>
    }
  </div>

  <div>
    <app-text-button [label]="'＋ Add flashcard'" (click)="handleAddFlashcard()"></app-text-button>
    <app-text-button [label]="'Save changes'" (click)="handleSaveFlashcards()" class="float-right"></app-text-button>
  </div>
</div>