<div *ngIf="flashcardDeck" class="flashcard-deck-edit-container">
  <div>
    <label for="name">Name:</label>
    <app-text-field [(ngModel)]="flashcardDeck!.name" (rows)="1" class="deck-name-input"></app-text-field>
  </div>
  <div>
    <label for="leftLanguageSelect">Choose a language:</label>
    <select id="leftLanguageSelect" (change)="handleUpdateLeftLanguage($event)">
      <option *ngFor="let language of flashcardLanguages" [value]="language.id">
        {{ language.name }}
      </option>
    </select>

    <label for="rightLanguageSelect">Choose a language:</label>
    <select id="rightLanguageSelect" (change)="handleUpdateRightLanguage($event)">
      <option *ngFor="let language of flashcardLanguages" [value]="language.id">
        {{ language.name }}
      </option>
    </select>
  </div>

  <div cdkDropList (cdkDropListDropped)="handleRearrangeFlashcard($event)" class="flashcard-list"
    [ngClass]="{'dragging': currentDragIndex !== undefined}">
    @for(flashcard of flashcardDeck!.flashcards; track flashcard; let i = $index) {
    <app-flashcard-edit *ngIf="flashcard.state !== 'deleted'" cdkDrag (cdkDragStarted)="handleDragStart(i)" (cdkDragEnded)="handleDragEnd()"
      class="flashcard-item block mb-4">
      <ng-container header>
        <div class="inline-block">
          <span class="flashcard-item-number font-bold mr-8">#{{flashcard.deckOrder}}</span>
          <select class="left-content-type-input mr-8" [(ngModel)]="flashcard.leftContentType">
            <option value="text">Text</option>
            <option value="audio">Audio</option>
            <option value="image">Image</option>
            <option value="video">Video</option>
          </select>
          <select class="right-content-type-input" [(ngModel)]="flashcard.rightContentType">
            <option value="text">Text</option>
            <option value="audio">Audio</option>
            <option value="image">Image</option>
            <option value="video">Video</option>
          </select>
        </div>

        <div class="inline-block float-right">
          <button class="btn btn-primary" (click)="handleDeleteFlashcard(flashcard)">Delete</button>
        </div>
      </ng-container>

      <ng-container *ngIf="flashcard.leftContentType === 'text'" left>
        <app-text-input [(textData)]="flashcard.leftTextContent!" (rows)="1"></app-text-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'audio'" left>
        <app-audio-input [(audioData)]="flashcard.leftAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'image'" left>
        <app-image-input [(imageData)]="flashcard.leftImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.leftContentType === 'video'" left>
        <app-video-input [(videoData)]="flashcard.leftVideoContent"></app-video-input>
      </ng-container>

      <ng-container *ngIf="flashcard.rightContentType === 'text'" right>
        <app-text-input [(textData)]="flashcard.rightTextContent!" (rows)="1"></app-text-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'audio'" right>
        <app-audio-input [(audioData)]="flashcard.rightAudioContent"></app-audio-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'image'" right>
        <app-image-input [(imageData)]="flashcard.rightImageContent"></app-image-input>
      </ng-container>
      <ng-container *ngIf="flashcard.rightContentType === 'video'" right>
        <app-video-input [(videoData)]="flashcard.rightVideoContent"></app-video-input>
      </ng-container>

    </app-flashcard-edit>
    }
  </div>

  <div>
    <app-text-button [label]="'＋ Add flashcard'" (click)="handleAddFlashcard()"></app-text-button>
    <app-text-button [label]="'Save changes'" (click)="handleSaveFlashcards()" class="float-right"></app-text-button>
  </div>
</div>