<!-- filepath: src/app/select-placeholders/select-placeholders.component.html -->
<div cdkDropListGroup class="w-full max-w-xl">
  <div class="p-4 rounded-lg border border-gray-300">
    <div class="flex flex-wrap gap-2">
      @for (part of parts; track part; let i = $index) {
        @if (part.type === 'text') {
          <span>{{ part.value }}</span>
        }
        @if (part.type === 'placeholder') {
          <div
            cdkDropList
            [cdkDropListData]="part"
            (cdkDropListDropped)="drop($event, 'placeholders')"
            [style.width.ch]="placeholderSize"
            class="inline-block border-b border-solid border-gray-400 text-center">
            @if (part.option) {
              <span cdkDrag [cdkDragData]="part" class="p-2 bg-blue-200 rounded cursor-pointer">{{ part.option!.text }}</span>
            }
          </div>
        }
      }
    </div>
  </div>
  <div cdkDropList #optionList [cdkDropListData]="options"
    (cdkDropListDropped)="drop($event, 'options')" class="mt-2 flex gap-2">
    @for (option of options; track option) {
      <div cdkDrag
        [cdkDragData]="option" class="p-2 bg-blue-200 rounded cursor-pointer">
        {{ option.text }}
      </div>
    }
  </div>
</div>