<div *ngIf="flashcardDeck" class="container mx-auto p-4 max-w-3xl">
    <h1 i18n class="text-xl font-bold mb-4">Flashcard Deck "{{flashcardDeck!.name}}"</h1>
    <p *ngIf="flashcardDeck!.description">{{flashcardDeck!.description}}</p>

    <app-flashcard-review-container *ngIf="flashcardDeck.flashcards.length > 0" [flashcards]="flashcardDeck.flashcards"
        class="mt-8 mb-4"></app-flashcard-review-container>
    
    <ng-container *ngIf="hasFlashcards; else noFlashcards">
        <div class="my-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">   
            <app-row-button i18n (click)="selectFlashcards()" class="w-full">
                Select flashcards
            </app-row-button>

            <app-row-button i18n (click)="reviewFlashcards()" class="w-full">
                Review flashcards
            </app-row-button>

            <app-row-button i18n (click)="writeFlashcards()" class="w-full">
                Write flashcards
            </app-row-button>

            <app-row-button i18n (click)="learnFlashcards()" class="w-full">
                Learn flashcards
            </app-row-button>
        </div>
        
        <div class="flex justify-end items-center w-full mb-2">
            <span *ngIf="flashcardDeck.flashcards?.length" i18n class="block">{{ flashcardDeck.flashcards.length }} flashcard(s)</span>
        </div>

        <app-flashcard-view-container [flashcardDeck]="flashcardDeck!"></app-flashcard-view-container>
        
        <div>
            <app-button variant="primary" i18n (click)="editFlashcards()" class="float-right">Edit</app-button>
        </div>
    </ng-container>

    <ng-template #noFlashcards>
        <div class="text-center text-gray-500 mt-8 mb-4 p-6 border border-gray-200 rounded bg-gray-50">
            <div i18n>No flashcards in this deck.</div>

            <div class="flex justify-center mt-4">
                <app-button variant="secondary" i18n (click)="editFlashcards()" class="">Add</app-button>
            </div>
        </div>
    </ng-template>
</div>