.perspective {
  perspective: 1000px;
}

.flashcard-inner {
  transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateX(180deg);
}