<section class="ml-4">
    <h1 class="text-lg font-bold">Input components</h1>
    <p>Arrange text options (default)</p>
    <app-exercise-input-arrange-text-options [input]="arrangeTextValue"></app-exercise-input-arrange-text-options>
    <br>

    <p>Write text input (default)</p>
    <app-exercise-input-write-text [input]="textValue"></app-exercise-input-write-text>
    <p>Write text input (correct)</p>
    <app-exercise-input-write-text [input]="textValueWithCorrectFeedback"></app-exercise-input-write-text>
    <p>Write text input (incorrect)</p>
    <app-exercise-input-write-text [input]="textValueWithIncorrectFeedback"></app-exercise-input-write-text>
    <br>
    <p>Write text input (correct & retype)</p>
    <app-exercise-input-write-text [input]="textValueWithCorrectFeedbackAndRetype"></app-exercise-input-write-text>
    <p>Write text input (incorrect & retype)</p>
    <app-exercise-input-write-text [input]="textValueWithIncorrectFeedbackAndRetype"></app-exercise-input-write-text>
    <br>

    <p>Write placeholders (default)</p>
    <app-exercise-input-write-placeholders [input]="writePlaceholdersValue"></app-exercise-input-write-placeholders>
    <p>Write placeholders (correct/incorrect)</p>
    <app-exercise-input-write-placeholders [input]="writePlaceholdersValueWithFeedback"></app-exercise-input-write-placeholders>
    <br>

    <p>Select audio options input</p>
    <app-exercise-input-select-options [input]="selectAudioOptionsValue" />
    <p>Select audio options input (correct/incorrect)</p>
    <app-exercise-input-select-options [input]="selectAudioOptionsValueWithFeedback" />

    <p>Select text options input (default)</p>
    <app-exercise-input-select-options [input]="selectTextOptionsValue"></app-exercise-input-select-options>
    <p>Select text options input (correct/incorrect)</p>
    <app-exercise-input-select-options [input]="selectTextOptionsValueWithFeedback"></app-exercise-input-select-options>
    <br>
    <p>Select text options input (correct/incorrect & retype)</p>
    <app-exercise-input-select-options [input]="selectTextOptionsValueWithFeedbackAndRetype"></app-exercise-input-select-options>
    <br>

    <p>Select image options input (default)</p>
    <app-exercise-input-select-options [input]="selectImageOptionsValue"></app-exercise-input-select-options>
    <p>Select image options input (correct/incorrect)</p>
    <app-exercise-input-select-options [input]="selectImageOptionsValueWithFeedback"></app-exercise-input-select-options>
    <br>

    <p>Select video options input (default)</p>
    <app-exercise-input-select-options [input]="selectVideoOptionsValue"></app-exercise-input-select-options>
    <p>Select video options input (correct/incorrect)</p>
    <app-exercise-input-select-options [input]="selectVideoOptionsValueWithFeedback"></app-exercise-input-select-options>
    <br>

    <p>Select placeholders (default)</p>
    <app-exercise-input-select-placeholders [input]="selectPlaceholdersValue"></app-exercise-input-select-placeholders>
    <br>

    <p>Pair options (default)</p>
    <app-exercise-input-pair-options [input]="pairOptionsValue" />
    <p>Pair options (correct)</p>
    <app-exercise-input-pair-options [input]="pairOptionsValueWithCorrectFeedback" /> 
    <p>Pair options (incorrect)</p>
    <app-exercise-input-pair-options [input]="pairOptionsValueWithIncorrectFeedback" />
    <br>

    <p>Record audio (without feedback)</p>
    <app-exercise-input-record-audio [input]="audioValue"></app-exercise-input-record-audio>
    <p>Record audio (with feedback)</p>
    <app-exercise-input-record-audio [input]="audioValueWithFeedback"></app-exercise-input-record-audio>

    <p>Record video</p>
    <app-exercise-input-record-video [input]="videoValue"></app-exercise-input-record-video>    
</section>