<section class="ml-4">
    <h1 class="text-lg font-bold">Input components</h1>
    <p>Arrange text options (default)</p>
    <app-exercise-input-arrange-text-options [input]="arrangeTextValue"></app-exercise-input-arrange-text-options>
    
    <p>Write text input (default)</p>
    <app-exercise-input-write-text [input]="textValue"></app-exercise-input-write-text>

    <p>Write text input (correct)</p>
    <app-exercise-input-write-text [input]="textValueWithCorrectFeedback"></app-exercise-input-write-text>
    
    <p>Write text input (incorrect)</p>
    <app-exercise-input-write-text [input]="textValueWithIncorrectFeedback"></app-exercise-input-write-text>

    <br>

    <p>Write placeholders (default)</p>
    <app-exercise-input-write-placeholders [input]="writePlaceholdersValue"></app-exercise-input-write-placeholders>

    <p>Write placeholders (correct/incorrect)</p>
    <app-exercise-input-write-placeholders [input]="writePlaceholdersValueWithFeedback"></app-exercise-input-write-placeholders>

    <br>

    <p>Select options input (default)</p>
    <app-exercise-input-select-options [input]="multipleChoiceValue"></app-exercise-input-select-options>

    <p> Select options input (correct/incorrect)</p>
    <app-exercise-input-select-options [input]="multipleChoiceValueWithFeedback"></app-exercise-input-select-options>

    <br>

    <p>Record audio</p>
    <app-exercise-input-record-audio [input]="audioValue"></app-exercise-input-record-audio>

    
</section>