<div class="bg-white p-6 rounded-lg shadow-lg space-x-4">
    <div class="mb-2">
        <ng-content select="[header]" />
    </div>

    <div class="flex items-center">
        <!-- Left Language Abbreviation and Text Field -->
        <div class="flex flex-col flex-grow">
            <ng-content select="[left]" />
        </div>

        <div class="flex flex-col p-4"></div>

        <!-- Right Language Abbreviation and Text Field -->
        <div class="flex flex-col flex-grow">
            <ng-content select="[right]" />
        </div>
    </div>
</div>