<div>
    <div>
      <label for="name">Name:</label>
      <app-text-field [(ngModel)]="name" (rows)="1"></app-text-field>
    </div>
    <div>
        <label for="leftLanguageSelect">Choose a language:</label>
        <select id="leftLanguageSelect" (change)="handleUpdateLeftLanguage($event)">
          <option *ngFor="let language of flashcardLanguages" [value]="language.id">
            {{ language.name }}
          </option>
        </select>

        <label for="rightLanguageSelect">Choose a language:</label>
        <select id="rightLanguageSelect" (change)="handleUpdateRightLanguage($event)">
          <option *ngFor="let language of flashcardLanguages" [value]="language.id">
            {{ language.name }}
          </option>
        </select>
    </div>

  <div cdkDropList (cdkDropListDropped)="handleRearrangeFlashcard($event)" class="flashcard-list" [ngClass]="{'dragging': currentDragIndex !== undefined}">
    @for(flashcard of flashcards; track flashcard; let i = $index) {
      <app-flashcard-edit cdkDrag 
        (cdkDragStarted)="handleDragStart(i)"
        (cdkDragEnded)="handleDragEnd()"
        class="flashcard-item block mb-4" (switchSides)="handleSwitchFlashcardSides(flashcard)">
        <ng-container header>
          <p class="flashcard-item-number font-bold">#{{i + 1}}</p>
        </ng-container>

        <ng-container left>
          <span *ngIf="flashcard.leftLanguage" class="text-gray-500 text-sm mb-1">{{flashcard.leftLanguage.abbreviation}}</span>
          <app-text-field [(ngModel)]="flashcard.leftValue" (rows)="1"></app-text-field>
        </ng-container>

        <ng-container right>
          <span *ngIf="flashcard.rightLanguage" class="text-gray-500 text-sm mb-1">{{flashcard.rightLanguage.abbreviation}}</span>
          <app-text-field [(ngModel)]="flashcard.rightValue" (rows)="1"></app-text-field>
        </ng-container>
      </app-flashcard-edit>
    }
  </div>

    <div>
        <app-text-button [label]="'＋ Add flashcard'" (click)="handleAddFlashcard()"></app-text-button>
        <app-text-button [label]="'Save changes'" (click)="handleSaveFlashcards()" class="float-right"></app-text-button>
    </div>
</div>